<header class = "header">
    <h1>Scraping Time!</h1>
    <nav class= "button-group">
        <button class="button-dark" id="scrape" data-toggle="modal" data-target="#alertModal">Scrape New Articles?</button>
        <a href="/articles/viewSaved"><button class= "button-dark" id="viewSaved">View Saved Articles?</button></a>
    </nav>
</header>
<div class="filler"></div>
{{#each article}}
{{#unless saved}}
<figure class="storyPanel clearfix">
    <a href="{{storyUrl}}" class="pull-right" target="_blank">
        <div class= "imgBox">
            <img src="{{imgUrl}}" alt="" class="storyImg" height= "150">
                    </div>
    </a>
</figure>