body {
    background: crimson;
}
nav{
    background:rgb(141, 10, 10);
    height: 70px;
}
.scrape {
    background:lightblue; 
    margin-right: 5px;
    color: #fff;
}
.clear {
    background:crimson ;
    color: #fff
}
.home-image {
    background: url("./../img/parchy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.4) inset;
    color: white;
    text-align: center;
}
.home-title {
    font-size: 90px;
    padding-top: 25vh;
}
.col-md-6 {
    padding-right:0;
    padding-left:0;
}
a {
    color: white;
}
p.card-text {
    text-shadow: 1px 1px black;
}
.save {
    background: lightgoldenrodyellow;
}
.note {
    background: lightseagreen
}
.modal-body, .modal-header {
    color: black
}
.delete-one, .deleteNote {
    background: red;
    color: #fff
}
.row {
    width: 100%;
    margin: 0px;
}